<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=
  device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wine History</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  

  <!-- plotly -->
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/css/material.min.css">

  <!-- noUISlider -->
  <!-- <link href="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.js"></script> -->
  
  <!-- D3 slider -->
  <script src="https://unpkg.com/d3-simple-slider"></script>


  <!-- MATERIAL DESIGN LITE -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-pink.min.css"> -->
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
 
    
</head>


<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Tab 2</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">Tab 3</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content"><div id="mattyD" style="width:710px;height:520px"></div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
          <div id="renatoDiv" style="width:710px;height:520px">
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">
          <div id="heatherDiv" class="parcoords" style="width:910px;height:620px">
      </div>
    </section>
  </main>
</div>
 

    <!-- <div class="row">
      <div id="slider-pips"></div>
    </div> -->
    <div class="row align-items-center">
      <div class="col-lg-9" id="value-time"></div>
      <div class="col-lg" id="slider-time"></div>
    </div>
    <!-- <div class="row"> -->
      <!-- <h2>Test Routes</h2><br>
      <h3>/production</h3><br>
      <h3>/consumption</h3><br>
      <h3>/population</h3><br> -->
    <!-- </div>  -->
    <!-- <div class="row">
      <div id="map"></div>
    </div>
   
  </div> -->
 <div id="kevinDiv"></div>
<div id="renatoDiv"></div>
  <!-- Heather's plot container -->
  <!-- <div id="heatherDiv" class="parcoords" style="width:910px;height:620px"> -->
    <div id="mattyD"></div>

  <!-- NEEDED FOR MATTTHEW'S CODE -->
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <!-- Testing CODE FOR VISUAL. BLOCK OUT WHEN DATA IS IN VISUAL -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic_tree.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/Matt.js') }}"></script>
  <!-- NEEDED FOR MATTHEW'S CODE -->

    
        </div>
      </div>
    </div>
  </div>
  

  <!-- D3 -->
  <!-- <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script> -->
  <script src="https://d3js.org/d3.v5.min.js"></script> 

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- Icons -->
  <!-- <script src="{{ url_for('static', filename='js/leaflet.extra-markers.min.js') }}"></script> -->

  <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- API Key -->
  <!-- <script type="text/javascript"  src="{{ url_for('static', filename='js/config.js')}}"></script> -->

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
  <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Our JavaScript -->
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/logic_polygon.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/heather.js') }}"></script> -->


</body>

</html>
